.scroll-style::-webkit-scrollbar {
  width: 16px;
}

.scroll-style::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll-style::-webkit-scrollbar-button {
  display: none;
}
